asgiref==3.8.1
chardet==5.2.0
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
django-filter==25.1
django-tables2==2.7.5
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==11.2.1
python-decouple==3.8
pytz==2025.2
reportlab==4.4.0
sqlparse==0.5.3
XlsxWriter==3.2.3