<div class="btn-group">
    <a href="{% url 'balanza:balanza_detail' record.pk %}" class="btn btn-sm btn-info" title="Ver detalles">
        <i class="fas fa-eye"></i>
    </a>
    <a href="{% url 'balanza:balanza_update' record.pk %}" class="btn btn-sm btn-primary" title="Editar">
        <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'balanza:balanza_delete' record.pk %}" class="btn btn-sm btn-danger" title="Eliminar">
        <i class="fas fa-trash"></i>
    </a>
    <a href="{% url 'reportes:balanza_pdf' record.pk %}" class="btn btn-sm btn-success" title="Generar PDF">
        <i class="fas fa-file-pdf"></i>
    </a>
</div> 